'name': 'PKGBUILD'
'scopeName': 'source.shell.pkgbuild'
'fileTypes': ['PKGBUILD', 'install']
'patterns': [
  {
    'include': 'source.shell'
  }
  {
    'begin': '^\\b[_a-zA-Z0-9]*'
    'beginCaptures':
      '0':
        'name': 'variable.definition.name'
    'captures':
      '1':
        'name':  'variable.definition.other'
    'end':   '='
    'endCaptures':
      '0':
        'name': 'variable.definition.equal'
  }
]
