'menu': [
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'Arch Linux Commands'
        'submenu': [
          {
            'label':   'Make package'
            'command': 'pkgbuild:makepkg'
          }
          {
            'label':   'Update SRCINFO'
            'command': 'pkgbuild:mksrcinfo'
          }
          {
            'label':   'Run namcap'
            'command': 'pkgbuild:namcap'
          }
          {
            'label':   'Update PKGBUILD'
            'command': 'pkgbuild:updpkgsums'
          }
        ]
      }
    ]
  }
]
