'menu': [
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'Arch Linux Commands'
        'submenu': [
          {
            'label':   'Update PKGBUILD checksums'
            'command': 'pkgbuild:updpkgsums'
          }
        ]
      }
    ]
  }
]
